{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bookcharacters list</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Species</th>
                <th>Age</th>
                <th>Ability</th>
                <th>Occupation</th>
                <th>Nothuman</th>
                <th>Mythology</th>
                <th>Biblicalcharacter</th>
                <th>Mythologicalcreature</th>
                <th>Animalbeast</th>
                <th>Othercreature</th>
                <th>Otherinformations</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bookCharacter in bookCharacters %}
            <tr>
                <td><a href="{{ path('editor_bookcharacter_show', { 'id': bookCharacter.id }) }}">{{ bookCharacter.id }}</a></td>
                <td>{{ bookCharacter.name }}</td>
                <td>{{ bookCharacter.gender }}</td>
                <td>{{ bookCharacter.species }}</td>
                <td>{{ bookCharacter.age }}</td>
                <td>{{ bookCharacter.ability }}</td>
                <td>{{ bookCharacter.occupation }}</td>
                <td>{{ bookCharacter.notHuman }}</td>
                <td>{{ bookCharacter.mythology }}</td>
                <td>{{ bookCharacter.biblicalCharacter }}</td>
                <td>{{ bookCharacter.mythologicalCreature }}</td>
                <td>{{ bookCharacter.animalBeast }}</td>
                <td>{{ bookCharacter.otherCreature }}</td>
                <td>{{ bookCharacter.otherInformations }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('editor_bookcharacter_show', { 'id': bookCharacter.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('editor_bookcharacter_edit', { 'id': bookCharacter.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('editor_bookcharacter_new') }}">Create a new bookCharacter</a>
        </li>
    </ul>
{% endblock %}
