{% extends "::base.html.twig" %}
{% block body %}
    <h2>{{ 'Character'| trans }}:</h2>

    <form action="{{ path('editor_bookcharacter_new') }}" method="POST">
        <div class="form-group">
            <h3>{{ 'name.Name'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label><input type="text" name="name" id="name"
                                  value="{{ name|default('') }}"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'gender.Gender'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="gender" id="female" value="female"
                                {% block gender_female %}{% endblock %}>
                        {{ 'gender.female'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="gender" id="male" value="male"
                                {% block gender_male %}{% endblock %}>
                        {{ 'gender.male'| trans }}
                    </label>
                </div>

                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="gender" id="other" value="other"
                                {% block gender_other %}{% endblock %}>
                        {{ 'gender.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'species.Species'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="species" id="human" value="human"
                                {% block species_human %}{% endblock %}>
                        {{ 'species.human'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="species" id="shapeshifter" value="shapeshifter"
                                {% block species_shapeshifter %}{% endblock %}>
                        {{ 'species.shapeshifter'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="species" id="notHuman" value="notHuman"
                                {% block species_notHuman %}{% endblock %}>
                        {{ 'species.not human'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="species" id="childOfHumanAndNotHuman"
                               value="childOfHumanAndNotHuman"
                                {% block species_childOfHumanAndNotHuman %}{% endblock %}>
                        {{ 'species.child of human and not human'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="species" id="childOfDifferentNotHumans"
                               value="childOfDifferentNotHumans"
                                {% block species_childOfDifferentNotHumans %}{% endblock %}>
                        {{ 'species.child of different not humans'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="species" id="other" value="other"
                                {% block species_other %}{% endblock %}>
                        {{ 'species.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'age.Age'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="age" id="child" value="child"
                                {% block age_child %}{% endblock %}>
                        {{ 'age.child'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="age" id="teenager" value="teenager"
                                {% block age_teenager %}{% endblock %}>
                        {{ 'age.teenager'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                        <label>
                            <input type="radio" name="age" id="adult" value="adult"
                                    {% block age_adult %}{% endblock %}>
                            {{ 'age.adult'| trans }}
                        </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="age" id="ancient" value="ancient"
                                {% block age_ancient %}{% endblock %}>
                        {{ 'age.ancient'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="age" id="otherAge" value="otherAge"
                                {% block age_otherAge %}{% endblock %}>
                        {{ 'age.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'ability.Abilities'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="magic" value="magic">
                        {{ 'ability.magic'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="flying" value="flying">
                        {{ 'ability.flying'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="teleportation"
                               value="teleportation">
                        {{ 'ability.teleportation'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="telekinesis"
                               value="telekinesis">
                        {{ 'ability.telekinesis'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="invisibility"
                               value="invisibility">
                        {{ 'ability.invisibility'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="telepathy"
                               value="telepathy">
                        {{ 'ability.telepathy'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="foreseeFuture"
                               value="foreseeFuture">
                        {{ 'ability.foresee future'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="seeingPast"
                               value="seeingPast">
                        {{ 'ability.seeing past'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]"
                               id="otherAbility" value="otherAbility">
                        {{ 'ability.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'occupation.Occupation'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="warrior" value="warrior">
                        {{ 'occupation.warrior'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="hunter" value="hunter">
                        {{ 'occupation.hunter'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="policeman" value="policeman">
                        {{ 'occupation.policeman'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="privateEye" value="privateEye">
                        {{ 'occupation.private eye'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                        <label>
                            <input type="checkbox" name="occupation[]" id="killer" value="killer">
                            {{ 'occupation.killer'| trans }}
                        </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="thief" value="thief">
                        {{ 'occupation.thief'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="healer" value="healer">
                        {{ 'occupation.healer'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="physician" value="physician">
                        {{ 'occupation.physician'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="scholar" value="scholar">
                        {{ 'occupation.scholar'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="teacher" value="teacher">
                        {{ 'occupation.teacher'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="student" value="student">
                        {{ 'occupation.student'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="pupil" value="pupil">
                        {{ 'occupation.pupil'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="journalist" value="journalist">
                        {{ 'occupation.journalist'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="broker" value="broker">
                        {{ 'occupation.broker'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="architect" value="architect">
                        {{ 'occupation.architect'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="bard" value="bard">
                        {{ 'occupation.bard'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="musician" value="musician">
                        {{ 'occupation.musician'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="actor" value="actor">
                        {{ 'occupation.actor'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="carMechanic" value="carMechanic">
                        {{ 'occupation.car mechanic'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="cook" value="cook">
                        {{ 'occupation.cook'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="otherOccupation"
                               value="otherOccupation">
                        {{ 'occupation.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'notHuman.Not human'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="notHuman[]" id="biblicalCharacter"
                               value="biblicalCharacter">
                        {{ 'notHuman.biblical character'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="notHuman[]" id="mythologicalCreature"
                                  value="mythologicalCreature">
                        {{ 'notHuman.mythological character'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="notHuman[]" id="otherNotHuman"
                               value="otherNotHuman">
                        {{ 'notHuman.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'mythology.Mythology'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="celtic" value="celtic">
                        {{ 'mythology.celtic'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="egyptian" value="egyptian">
                        {{ 'mythology.egyptian'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="greek" value="greek">
                        {{ 'mythology.greek'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="indian" value="indian">
                        {{ 'mythology.indian'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="norse" value="norse">
                        {{ 'mythology.norse'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="roman" value="roman">
                        {{ 'mythology.roman'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="slavic" value="slavic">
                        {{ 'mythology.slavic'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="otherMythology"
                               value="otherMythology"> {{ 'mythology.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'biblicalCharacter.Biblical character'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="biblicalCharacter[]" id="angel" value="angel">
                        {{ 'biblicalCharacter.angel'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="biblicalCharacter[]" id="devil" value="devil">
                        {{ 'biblicalCharacter.devil'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="biblicalCharacter[]" id="demon" value="demon">
                        {{ 'biblicalCharacter.demon'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="biblicalCharacter[]"
                               id="otherBiblicalCharacters" value="otherBiblicalCharacters">
                        {{ 'biblicalCharacter.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'mythologicalCreature.Mythological creature'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="god" value="god">
                        {{ 'mythologicalCreature.god'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="demigod" value="demigod">
                        {{ 'mythologicalCreature.demigod'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="nymph" value="nymph">
                        {{ 'mythologicalCreature.nymph'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="giant" value="giant">
                        {{ 'mythologicalCreature.giant'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="elf" value="elf">
                        {{ 'mythologicalCreature.elf'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="dwarf" value="dwarf">
                        {{ 'mythologicalCreature.dwarf'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="troll" value="troll">
                        {{ 'mythologicalCreature.troll'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="orc" value="orc">
                        {{ 'mythologicalCreature.orc'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]"
                               id="otherMythologicalCreatures" value="otherMythologicalCreatures">
                        {{ 'mythologicalCreature.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'animalBeast.Animal/Beast'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="dragon" value="dragon">
                        {{ 'animalBeast.dragon'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="griffin" value="griffin">
                        {{ 'animalBeast.griffin'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="harpy" value="harpy">
                        {{ 'animalBeast.harpy'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="thunderbird" value="thunderbird">
                        {{ 'animalBeast.thunderbird'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="wolf" value="wolf">
                        {{ 'animalBeast.wolf'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="bear" value="bear">
                        {{ 'animalBeast.bear'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="coyote" value="coyote">
                        {{ 'animalBeast.coyote'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="hyena" value="hyena">
                        {{ 'animalBeast.hyena'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]"
                               id="otherAnimalBeastCreatures" value="otherAnimalBeastCreatures">
                        {{ 'animalBeast.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'otherCreature.Other creature'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="otherCreature[]" id="vampire" value="vampire">
                        {{ 'otherCreature.vampire'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="otherCreature[]" id="zombie" value="zombie">
                        {{ 'otherCreature.zombie'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="otherCreature[]" id="alien" value="alien">
                        {{ 'otherCreature.alien'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="otherCreature[]" id="hobbit" value="hobbit">
                        {{ 'otherCreature.hobbit'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="otherCreature[]"
                               id="otherCreature" value="otherCreature">
                        {{ 'otherCreature.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'otherInformation.Other information'| trans }}:</h3>
                <div class="form-group">
                    <textarea class="form-control" rows="5" name="otherInformation"
                                  id="otherInformation"></textarea>
                </div>
        </div>
        {% block submitBook %}
            <button type="submit">Add <i class="fa fa-book"></i></button>
        {% endblock %}
    </form>


{% endblock %}
