{% extends 'base.html.twig' %}

{% block sidenav %}
    <a href="{{ path('editor_characterfrombook_new') }}">Create a new characterFromBook</a>
{% endblock %}

{% block body %}
    <h1>Bookcharacters list</h1>
    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>

    {# table body #}
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
            <th>Gender</th>
            <th>Species</th>
            <th>Age</th>
            <th>Ability</th>
            <th>Occupation</th>
            <th>Nothuman</th>
            <th>Mythology</th>
            <th>Biblicalcharacter</th>
            <th>Mythologicalcreature</th>
            <th>Animalbeast</th>
            <th>Othercreature</th>
            <th>Otherinformations</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for characterFromBook in pagination %}
            <tr>
                <td><a href="{{ path('editor_characterfrombook_show',
                    { 'id': characterFromBook.id }) }}">{{ characterFromBook.id }}</a></td>
                <td>{{ characterFromBook.name }}</td>
                <td>{{ characterFromBook.gender }}</td>
                <td>{{ characterFromBook.species }}</td>
                <td>{{ characterFromBook.age }}</td>
                <td>{{ characterFromBook.ability }}</td>
                <td>{{ characterFromBook.occupation }}</td>
                <td>{{ characterFromBook.notHuman }}</td>
                <td>{{ characterFromBook.mythology }}</td>
                <td>{{ characterFromBook.biblicalCharacter }}</td>
                <td>{{ characterFromBook.mythologicalCreature }}</td>
                <td>{{ characterFromBook.animalBeast }}</td>
                <td>{{ characterFromBook.otherCreature }}</td>
                <td>{{ characterFromBook.otherInformation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('editor_characterfrombook_show',
                            { 'id': characterFromBook.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('editor_characterfrombook_edit',
                            { 'id': characterFromBook.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}