{% extends 'base.html.twig' %}

{% block sidenav %}
    <a href="{{ path('editor_characterfrombook_new') }}">Create a new characterFromBook</a>
{% endblock %}

{% block body %}
    <h1>Bookcharacters list</h1>
    {# total items count #}
    <div class="count">
        {{ characterFromBooks.getTotalItemCount }}
    </div>

    {# table body #}
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            {% block paginationHead %}
                <th>{{ knp_pagination_sortable(characterFromBooks, 'Id', 'a.id') }}</th>
                <th{% if characterFromBooks.isSorted('a.name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(characterFromBooks, 'name.Name'| trans, 'a.name') }}</th>
            {% endblock %}
            <th{% if characterFromBooks.isSorted('a.gender') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(characterFromBooks, 'gender.Gender'| trans, 'a.gender') }}</th>
            <th{% if characterFromBooks.isSorted('a.species') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(characterFromBooks, 'species.Species'| trans, 'a.species') }}</th>
            <th{% if characterFromBooks.isSorted('a.age') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(characterFromBooks, 'age.Age'| trans, 'a.age') }}</th>
            <th>{{ 'ability.Abilities'| trans }}</th>
            <th>{{ 'occupation.Occupation'| trans }}</th>
            <th>{{ 'notHuman.Not human'| trans }}</th>
            <th>{{ 'mythology.Mythology'| trans }}</th>
            <th>{{ 'biblicalCharacter.Biblical character'| trans }}</th>
            <th>{{ 'mythologicalCreature.Mythological creature'| trans }}</th>
            <th>{{ 'animalBeast.Animal/Beast'| trans }}</th>
            <th>{{ 'otherCreature.Other creature'| trans }}</th>
            <th>{{ 'otherInformation.Other information'| trans }}</th>
            {% block actionsHead %}
                <th>{{ 'actions.Actions'| trans }}</th>
            {% endblock %}
        </tr>
        </thead>
        <tbody>
        {% for characterFromBook in characterFromBooks %}
            <tr>
                {% block paginationBody %}
                    <td><a href="{{ path('editor_characterfrombook_show',
                        { 'id': characterFromBook.id }) }}">{{ characterFromBook.id }}</a></td>
                    <td>{{ characterFromBook.name }}</td>
                {% endblock %}
                <td>{{ characterFromBook.gender }}</td>
                <td>{{ characterFromBook.species }}</td>
                <td>{{ characterFromBook.age }}</td>
                <td>
                    {% for ability in characterFromBook.ability %}
                        {{ ability | trans}}
                    {% endfor %}
                </td>
                <td>{{ characterFromBook.occupation }}</td>
                <td>{{ characterFromBook.notHuman }}</td>
                <td>{{ characterFromBook.mythology }}</td>
                <td>{{ characterFromBook.biblicalCharacter }}</td>
                <td>{{ characterFromBook.mythologicalCreature }}</td>
                <td>{{ characterFromBook.animalBeast }}</td>
                <td>{{ characterFromBook.otherCreature }}</td>
                <td>{{ characterFromBook.otherInformation }}</td>
                {% block actionsBody %}
                    <td>
                        <a href="{{ path('editor_characterfrombook_show',
                        { 'id': characterFromBook.id }) }}">{{ 'actions.show'| trans }}</a>
                        <br>

                        <a href="{{ path('editor_characterfrombook_edit',
                        { 'id': characterFromBook.id }) }}">{{ 'actions.edit'| trans }}</a>
                    </td>
                {% endblock %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(characterFromBooks) }}
    </div>
{% endblock %}