{% extends "::base.html.twig" %}
{% block body %}
    <h2>{{ 'Character'| trans }}:</h2>

    <form action="{{ form_address }}" method="POST">
        <div class="form-group">
            <h3>{{ 'name.Name'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label><input type="text" name="name" id="name"
                                  value="{{ name|default('') }}"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <h3>{{ 'gender.Gender'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="gender" id="female" value="gender.female"
                                {% block gender_female %}{% endblock %}>
                        {{ 'gender.female'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="gender" id="male" value="gender.male"
                                {% block gender_male %}{% endblock %}>
                        {{ 'gender.male'| trans }}
                    </label>
                </div>

                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="gender" id="other" value="gender.other"
                                {% block gender_other %}{% endblock %}>
                        {{ 'gender.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'species.Species'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="species" id="human" value="species.human"
                                {% block species_human %}{% endblock %}>
                        {{ 'species.human'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="species" id="shapeshifter" value="species.shapeshifter"
                                {% block species_shapeshifter %}{% endblock %}>
                        {{ 'species.shapeshifter'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="species" id="notHuman" value="species.notHuman"
                                {% block species_notHuman %}{% endblock %}>
                        {{ 'species.notHuman'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="species" id="childOfHumanAndNotHuman"
                               value="species.childOfHumanAndNotHuman"
                                {% block species_childOfHumanAndNotHuman %}{% endblock %}>
                        {{ 'species.childOfHumanAndNotHuman'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="species" id="childOfDifferentNotHumans"
                               value="species.childOfDifferentNotHumans"
                                {% block species_childOfDifferentNotHumans %}{% endblock %}>
                        {{ 'species.childOfDifferentNotHumans'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="species" id="other" value="other"
                                {% block species_other %}{% endblock %}>
                        {{ 'species.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'age.Age'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="age" id="child" value="age.child"
                                {% block age_child %}{% endblock %}>
                        {{ 'age.child'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="age" id="teenager" value="age.teenager"
                                {% block age_teenager %}{% endblock %}>
                        {{ 'age.teenager'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                        <label>
                            <input type="radio" name="age" id="adult" value="age.adult"
                                    {% block age_adult %}{% endblock %}>
                            {{ 'age.adult'| trans }}
                        </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="age" id="ancient" value="age.ancient"
                                {% block age_ancient %}{% endblock %}>
                        {{ 'age.ancient'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="radio" name="age" id="otherAge" value="age.otherAge"
                                {% block age_otherAge %}{% endblock %}>
                        {{ 'age.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'ability.Abilities'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="magic" value="ability.magic"
                                {% block ability_magic %}{% endblock %}>
                        {{ 'ability.magic'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="flying" value="ability.flying"
                                {% block ability_flying %}{% endblock %}>
                        {{ 'ability.flying'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="teleportation"
                               value="ability.teleportation"
                                {% block ability_teleportation %}{% endblock %}>
                        {{ 'ability.teleportation'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="telekinesis"
                               value="ability.telekinesis"
                        {% block ability_telekinesis %}{% endblock %}>
                        {{ 'ability.telekinesis'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="invisibility"
                               value="ability.invisibility"
                                {% block ability_invisibility %}{% endblock %}>
                        {{ 'ability.invisibility'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="telepathy"
                               value="ability.telepathy"
                                {% block ability_telepathy %}{% endblock %}>
                        {{ 'ability.telepathy'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="foreseeFuture"
                               value="ability.foreseeFuture"
                                {% block ability_foreseeFuture %}{% endblock %}>
                        {{ 'ability.foreseeFuture'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="seeingPast"
                               value="ability.seeingPast"
                                {% block ability_seeingPast %}{% endblock %}>
                        {{ 'ability.seeingPast'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="ability[]" id="otherAbility"
                               value="ability.other"
                                {% block ability_otherAbility %}{% endblock %}>
                        {{ 'ability.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'occupation.Occupation'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="warrior"
                               value="occupation.warrior"
                                {% block occupation_warrior %}{% endblock %}>
                        {{ 'occupation.warrior'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="hunter"
                               value="occupation.hunter"
                                {% block occupation_hunter %}{% endblock %}>
                        {{ 'occupation.hunter'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="policeman"
                               value="occupation.policeman"
                                {% block occupation_policeman %}{% endblock %}>
                        {{ 'occupation.policeman'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="privateEye"
                               value="occupation.privateEye"
                                {% block occupation_privateEye %}{% endblock %}>
                        {{ 'occupation.privateEye'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                        <label>
                            <input type="checkbox" name="occupation[]" id="killer"
                                   value="occupation.killer"
                                    {% block occupation_killer %}{% endblock %}>
                            {{ 'occupation.killer'| trans }}
                        </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="thief"
                               value="occupation.thief"
                                {% block occupation_thief %}{% endblock %}>
                        {{ 'occupation.thief'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="healer"
                               value="occupation.healer"
                                {% block occupation_healer %}{% endblock %}>
                        {{ 'occupation.healer'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="physician"
                               value="occupation.physician"
                                {% block occupation_physician %}{% endblock %}>
                        {{ 'occupation.physician'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="scholar"
                               value="occupation.scholar"
                                {% block occupation_scholar %}{% endblock %}>
                        {{ 'occupation.scholar'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="teacher"
                               value="occupation.teacher"
                                {% block occupation_teacher %}{% endblock %}>
                        {{ 'occupation.teacher'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="student"
                               value="occupation.student"
                                {% block occupation_student %}{% endblock %}>
                        {{ 'occupation.student'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="pupil"
                               value="occupation.pupil"
                                {% block occupation_pupil %}{% endblock %}>
                        {{ 'occupation.pupil'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="journalist"
                               value="occupation.journalist"
                                {% block occupation_journalist %}{% endblock %}>
                        {{ 'occupation.journalist'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="broker"
                               value="occupation.broker"
                                {% block occupation_broker %}{% endblock %}>
                        {{ 'occupation.broker'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="architect"
                               value="occupation.architect"
                                {% block occupation_architect %}{% endblock %}>
                        {{ 'occupation.architect'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="bard"
                               value="occupation.bard"
                                {% block occupation_bard %}{% endblock %}>
                        {{ 'occupation.bard'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="musician"
                               value="occupation.musician"
                                {% block occupation_musician %}{% endblock %}>
                        {{ 'occupation.musician'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="actor"
                               value="occupation.actor"
                                {% block occupation_actor %}{% endblock %}>
                        {{ 'occupation.actor'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="carMechanic"
                               value="occupation.carMechanic"
                                {% block occupation_carMechanic %}{% endblock %}>
                        {{ 'occupation.carMechanic'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="cook"
                               value="occupation.cook"
                                {% block occupation_cook %}{% endblock %}>
                        {{ 'occupation.cook'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="occupation[]" id="otherOccupation"
                               value="occupation.other"
                                {% block occupation_otherOccupation %}{% endblock %}>
                        {{ 'occupation.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'notHuman.Not human'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="notHuman[]" id="biblicalCharacter"
                               value="notHuman.biblicalCharacter"
                                {% block notHuman_biblicalCharacter %}{% endblock %}>
                        {{ 'notHuman.biblicalCharacter'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="notHuman[]" id="mythologicalCreature"
                                  value="notHuman.mythologicalCreature"
                                {% block notHuman_mythologicalCreature %}{% endblock %}>
                        {{ 'notHuman.mythologicalCreature'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="notHuman[]" id="otherNotHuman"
                               value="notHuman.other"
                                {% block notHuman_otherNotHuman %}{% endblock %}>
                        {{ 'notHuman.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'mythology.Mythology'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="celtic"
                               value="mythology.celtic"
                                {% block mythology_celtic %}{% endblock %}>
                        {{ 'mythology.celtic'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="egyptian"
                               value="mythology.egyptian"
                                {% block mythology_egyptian %}{% endblock %}>
                        {{ 'mythology.egyptian'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="greek"
                               value="mythology.greek"
                                {% block mythology_greek %}{% endblock %}>
                        {{ 'mythology.greek'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="indian"
                               value="mythology.indian"
                                {% block mythology_indian %}{% endblock %}>
                        {{ 'mythology.indian'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="norse"
                               value="mythology.norse"
                                {% block mythology_norse %}{% endblock %}>
                        {{ 'mythology.norse'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="roman"
                               value="mythology.roman"
                                {% block mythology_roman %}{% endblock %}>
                        {{ 'mythology.roman'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="slavic"
                               value="mythology.slavic"
                                {% block mythology_slavic %}{% endblock %}>
                        {{ 'mythology.slavic'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythology[]" id="otherMythology"
                               value="mythology.other"
                                {% block mythology_otherMythology %}{% endblock %}>
                        {{ 'mythology.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'biblicalCharacter.Biblical character'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="biblicalCharacter[]" id="angel"
                               value="biblicalCharacter.angel"
                                {% block biblicalCharacter_angel %}{% endblock %}>
                        {{ 'biblicalCharacter.angel'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="biblicalCharacter[]" id="devil"
                               value="biblicalCharacter.devil"
                                {% block biblicalCharacter_devil %}{% endblock %}>
                        {{ 'biblicalCharacter.devil'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="biblicalCharacter[]" id="demon"
                               value="biblicalCharacter.demon"
                                {% block biblicalCharacter_demon %}{% endblock %}>
                        {{ 'biblicalCharacter.demon'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="biblicalCharacter[]"
                               id="otherBiblicalCharacters"
                               value="biblicalCharacter.other"
                                {% block biblicalCharacter_otherBiblicalCharacters %}{% endblock %}>
                        {{ 'biblicalCharacter.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'mythologicalCreature.Mythological creature'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="god"
                               value="mythologicalCreature.god"
                                {% block mythologicalCreature_god %}{% endblock %}>
                        {{ 'mythologicalCreature.god'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="demigod"
                               value="mythologicalCreature.demigod"
                                {% block mythologicalCreature_demigod %}{% endblock %}>
                        {{ 'mythologicalCreature.demigod'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="nymph"
                               value="mythologicalCreature.nymph"
                                {% block mythologicalCreature_nymph %}{% endblock %}>
                        {{ 'mythologicalCreature.nymph'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="giant"
                               value="mythologicalCreature.giant"
                                {% block mythologicalCreature_giant %}{% endblock %}>
                        {{ 'mythologicalCreature.giant'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="elf"
                               value="mythologicalCreature.elf"
                                {% block mythologicalCreature_elf %}{% endblock %}>
                        {{ 'mythologicalCreature.elf'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="dwarf"
                               value="mythologicalCreature.dwarf"
                                {% block mythologicalCreature_dwarf %}{% endblock %}>
                        {{ 'mythologicalCreature.dwarf'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="troll"
                               value="mythologicalCreature.troll"
                                {% block mythologicalCreature_troll %}{% endblock %}>
                        {{ 'mythologicalCreature.troll'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]" id="orc"
                               value="mythologicalCreature.orc"
                                {% block mythologicalCreature_orc %}{% endblock %}>
                        {{ 'mythologicalCreature.orc'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="mythologicalCreature[]"
                               id="otherMythologicalCreatures"
                               value="mythologicalCreature.other"
                                {% block mythologicalCreature_otherMythologicalCreatures %}{% endblock %}>
                        {{ 'mythologicalCreature.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'animalBeast.Animal/Beast'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="dragon"
                               value="animalBeast.dragon"
                                {% block animalBeast_dragon %}{% endblock %}>
                        {{ 'animalBeast.dragon'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="griffin"
                               value="animalBeast.griffin"
                                {% block animalBeast_griffin %}{% endblock %}>
                        {{ 'animalBeast.griffin'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="harpy"
                               value="animalBeast.harpy"
                                {% block animalBeast_harpy %}{% endblock %}>
                        {{ 'animalBeast.harpy'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="thunderbird"
                               value="animalBeast.thunderbird"
                                {% block animalBeast_thunderbird %}{% endblock %}>
                        {{ 'animalBeast.thunderbird'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="wolf"
                               value="animalBeast.wolf"
                                {% block animalBeast_wolf %}{% endblock %}>
                        {{ 'animalBeast.wolf'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="bear"
                               value="animalBeast.bear"
                                {% block animalBeast_bear %}{% endblock %}>
                        {{ 'animalBeast.bear'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="coyote"
                               value="animalBeast.coyote"
                                {% block animalBeast_coyote %}{% endblock %}>
                        {{ 'animalBeast.coyote'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]" id="hyena"
                               value="animalBeast.hyena"
                                {% block animalBeast_hyena %}{% endblock %}>
                        {{ 'animalBeast.hyena'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="animalBeast[]"
                               id="otherAnimalBeastCreatures"
                               value="animalBeast.other"
                                {% block animalBeast_otherAnimalBeastCreatures %}{% endblock %}>
                        {{ 'animalBeast.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'otherCreature.Other creature'| trans }}:</h3>
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="otherCreature[]" id="vampire"
                               value="otherCreature.vampire"
                                {% block otherCreature_vampire %}{% endblock %}>
                        {{ 'otherCreature.vampire'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="otherCreature[]" id="zombie"
                               value="otherCreature.zombie"
                                {% block otherCreature_zombie %}{% endblock %}>
                        {{ 'otherCreature.zombie'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="otherCreature[]" id="alien"
                               value="otherCreature.alien"
                                {% block otherCreature_alien %}{% endblock %}>
                        {{ 'otherCreature.alien'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="otherCreature[]" id="hobbit"
                               value="otherCreature.hobbit"
                                {% block otherCreature_hobbit %}{% endblock %}>
                        {{ 'otherCreature.hobbit'| trans }}
                    </label>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" name="otherCreature[]"
                               id="otherCreature" value="otherCreature.other"
                                {% block otherCreature_otherCreature %}{% endblock %}>
                        {{ 'otherCreature.other'| trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>{{ 'otherInformation.Other information'| trans }}:</h3>
                <div class="form-group">
                    <textarea class="form-control" rows="5" name="otherInformation"
                                  id="otherInformation"></textarea>
                </div>
        </div>
        {% block submitAdd %}
            <button type="submit" name="submit" value="add">Add <i class="fa fa-book"></i></button>
        {% endblock %}

        {% block submitEdit %}
        {% endblock %}

    </form>

    {% block buttonsBlock %}
    {% endblock %}

{% endblock %}
