{% extends 'base.html.twig' %}

{% block body %}
    <h1>Characterfrombook</h1>

    <table  class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="col-sm-3"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ characterFromBook.id }}</td>
            </tr>
            <tr>
                <th>{{ 'name.Name'| trans }}</th>
                <td>{{ characterFromBook.name }}</td>
            </tr>
            <tr>
                <th>{{ 'gender.Gender'| trans }}</th>
                <td>{{ characterFromBook.gender | trans }}</td>
            </tr>
            <tr>
                <th>{{ 'species.Species'| trans }}</th>
                <td>{{ characterFromBook.species | trans }}</td>
            </tr>
            <tr>
                <th>{{ 'age.Age'| trans }}</th>
                <td>{{ characterFromBook.age | trans }}</td>
            </tr>
            <tr>
                <th>{{ 'ability.Abilities'| trans }}</th>
                <td>
                    {% for ability in characterFromBook.ability %}
                        {{ ability | trans}}
                        <br>
                    {% endfor %}</td>
            </tr>
            <tr>
                <th>{{ 'occupation.Occupation'| trans }}</th>
                <td>
                    {% for occupation in characterFromBook.occupation %}
                        {{ occupation | trans}}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'notHuman.Not human'| trans }}</th>
                <td>
                    {% for notHuman in characterFromBook.notHuman %}
                        {{ notHuman | trans}}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'mythology.Mythology'| trans }}</th>
                <td>
                    {% for mythology in characterFromBook.mythology %}
                        {{ mythology | trans}}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'biblicalCharacter.Biblical character'| trans }}</th>
                <td>
                    {% for biblicalCharacter in characterFromBook.biblicalCharacter %}
                        {{ biblicalCharacter | trans}}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'mythologicalCreature.Mythological creature'| trans }}</th>
                <td>
                    {% for mythologicalCreature in characterFromBook.mythologicalCreature %}
                        {{ mythologicalCreature | trans}}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'animalBeast.Animal/Beast'| trans }}</th>
                <td>
                    {% for animalBeast in characterFromBook.animalBeast %}
                        {{ animalBeast | trans}}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'otherCreature.Other creature'| trans }}</th>
                <td>
                    {% for otherCreature in characterFromBook.otherCreature %}
                        {{ otherCreature | trans}}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'otherInformation.Other information'| trans }}</th>
                <td>{{ characterFromBook.otherInformation | trans }}</td>
            </tr>
        </tbody>
    </table>

    {% block editor %}
        <ul>
            <li>
                <a href="{{ path('editor_characterfrombook_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('editor_characterfrombook_edit',
                { 'id': characterFromBook.id }) }}">Edit</a>
            </li>
            <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
            </li>
        </ul>
    {% endblock %}

{% endblock %}
