{% extends 'base.html.twig' %}

{% block body %}
    <h1>Author_books list</h1>
    <div class="count">
        {{ author_Books.getTotalItemCount }}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(author_Books, 'Id', 'ab.id') }}</th>
                <th>Author</th>
                <th>Book</th>
                <th>{{ knp_pagination_sortable(author_Books, 'Series', 'ab.series') }}</th>
                <th>{{ knp_pagination_sortable(author_Books, 'Volume', 'ab.volume') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author_Book in author_Books %}
            <tr>
                <td><a href="{{ path('editor_author_book_show', { 'id': author_Book.id }) }}">
                        {{ author_Book.id }}</a></td>
                <td>
                    <a href="{{ path('editor_author_show', { 'id': author_Book.author.id }) }}">
                        {{ author_Book.author.firstName }} {{ author_Book.author.lastName }}
                    </a>
                    <br>
                    <a href="{{ path('editor_author_show', { 'id': author_Book.author.id }) }}">
                        {{ author_Book.author.alias }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('editor_book_show', { 'id': author_Book.book.id }) }}">
                        {{ author_Book.book.titlePolish }}</a>
                    <br>
                    <a href="{{ path('editor_book_show', { 'id': author_Book.book.id }) }}">
                        {{ author_Book.book.titleEnglish }}</a>
                    <br>
                    <a href="{{ path('editor_book_show', { 'id': author_Book.book.id }) }}">
                        {{ author_Book.book.titleOriginal }}</a>
                    <br>
                </td>
                <td>{{ author_Book.series }}</td>
                <td>{{ author_Book.volume }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('editor_author_book_show',
                            { 'id': author_Book.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('editor_author_book_edit',
                            { 'id': author_Book.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(author_Books) }}
    </div>
{% endblock %}

{% block sidenav %}

    <div class="inner_sidenav">
        <div class="btn-group-vertical btn-block">
            <a type="button" class="btn btn-primary"
               href="{{ path('editor_author_book_new') }}">
                Create new
            </a>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script src={{ asset('bundles/fantasticbooks/js/sidenav.js') }}></script>
{% endblock %}
