{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">

    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                {{ 'profile.show.username'|trans }}:
            </div>
            <div class="col-sm-2">
                {{ user.username }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">
                {{ 'profile.show.email'|trans }}:
            </div>
            <div class="col-sm-2">
                {{ user.email }}
            </div>
        </div>
    </div>

    <br>
    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-info">
        <span class="glyphicon glyphicon-edit"></span> {{ 'profile.edit.submit'|trans }}
    </a>
    <br><br>
    <a href="{{ path('fos_user_change_password') }}" class="btn btn-info">
        {{ 'change_password.submit'|trans }}
    </a>
    <br><br>
    <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-info">
        {{ 'resetting.request.submit'|trans }}
    </a>
</div>
