{% extends 'base.html.twig' %}

{% block body %}
    <h1>Book</h1>

    <table  class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Titlepolish</th>
                <td>{{ book.titlePolish }}</td>
            </tr>
            <tr>
                <th>Titleenglish</th>
                <td>{{ book.titleEnglish }}</td>
            </tr>
            <tr>
                <th>Titleoriginal</th>
                <td>{{ book.titleOriginal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('editor_book_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('editor_book_edit', { 'id': book.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
