{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                {{ form_label(form.current_password) }}<b>:</b>
            </div>
            <div class="col-sm-2">
                {{ form_widget(form.current_password) }}
            </div>
            <div class="col-sm-4">
                {{ form_errors(form.current_password) }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">
                {{ form_label(form.plainPassword.children.first) }}<b>:</b>
            </div>
            <div class="col-sm-2">
                {{ form_widget(form.plainPassword.children.first) }}
            </div>
            <div class="col-sm-4">
                {{ form_errors(form.plainPassword.children.first) }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">
                {{ form_label(form.plainPassword.children.second) }}<b>:</b>
            </div>
            <div class="col-sm-2">
                {{ form_widget(form.plainPassword.children.second) }}
            </div>
        </div>
    </div>
    <br>


    {#{{ dump(form) }}#}
    {#{{ dump(form.plainPassword) }}#}


    <div class="row">
        <div class="col-sm-4 text-center">
            <button type="submit" class="btn btn-default" id="_submit" name="_submit">{{ 'change_password.submit'|trans }}</button>
        </div>
    </div>

{{ form_end(form) }}
