{% extends 'base.html.twig' %}
{% block sidenav %}
    <li>
        <a href="{{ path('editor_author_index') }}">Back to the list</a>
    </li>
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-primary">Delete</button>
    {{ form_end(delete_form) }}

{% endblock %}


{% block body %}
    <h1>Author edit</h1>

    {{ form_start(edit_form) }}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    {{ form_label(edit_form.firstName) }}<b>:</b>
                </div>
                <div class="col-sm-2">
                    {{ form_widget(edit_form.firstName) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    {{ form_label(edit_form.lastName) }}<b>:</b>
                </div>
                <div class="col-sm-2">
                    {{ form_widget(edit_form.lastName) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    {{ form_label(edit_form.alias) }}<b>:</b>
                </div>
                <div class="col-sm-2">
                    {{ form_widget(edit_form.alias) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    {{ form_label(edit_form.linkToHomePage) }}<b>:</b>
                </div>
                <div class="col-sm-2">
                    {{ form_widget(edit_form.linkToHomePage) }}
                </div>
            </div>
            <br>
        </div>

        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}


{% endblock %}
