{% extends 'base.html.twig' %}

{% block body %}
    <h1>Book_characterfrombooks list</h1>
    <div class="count">
        {{ book_CharacterFromBooks.getTotalItemCount }}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(book_CharacterFromBooks, 'Id', 'bc.id') }}</th>
                <th>Book</th>
                <th>Charactert</th>
                <th>{{ knp_pagination_sortable(book_CharacterFromBooks,
                    'Charactertype', 'bc.characterType') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book_CharacterFromBook in book_CharacterFromBooks %}
            <tr>
                <td>
                    <a href="{{ path('editor_book_characterfrombook_show',
                        { 'id': book_CharacterFromBook.id }) }}">{{ book_CharacterFromBook.id }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('editor_book_show', { 'id': book_CharacterFromBook.book.id }) }}">
                        {{ book_CharacterFromBook.book.titlePolish }}</a>
                    <br>
                    <a href="{{ path('editor_book_show', { 'id': book_CharacterFromBook.book.id }) }}">
                        {{ book_CharacterFromBook.book.titleEnglish }}</a>
                    <br>
                    <a href="{{ path('editor_book_show', { 'id': book_CharacterFromBook.book.id }) }}">
                        {{ book_CharacterFromBook.book.titleOriginal }}</a>
                    <br>
                </td>
                <td>
                    <a href="{{ path('editor_characterfrombook_show',
                    { 'id': book_CharacterFromBook.characterFromBook.id }) }}">
                        {{ book_CharacterFromBook.characterFromBook.name }}</a>
                    <br>
                </td>
                <td>{{ book_CharacterFromBook.characterType }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('editor_book_characterfrombook_show',
                            { 'id': book_CharacterFromBook.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('editor_book_characterfrombook_edit',
                            { 'id': book_CharacterFromBook.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(book_CharacterFromBooks) }}
    </div>
{% endblock %}

{% block sidenav %}

    <div class="inner_sidenav">
        <div class="btn-group-vertical btn-block">
            <a type="button" class="btn btn-primary"
               href="{{ path('editor_book_characterfrombook_new') }}">
                Create new
            </a>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script src={{ asset('bundles/fantasticbooks/js/sidenav.js') }}></script>
{% endblock %}